@model IEnumerable<ProjetoLivraria.MVC.ViewModels.LivroViewModel>

@{
    ViewBag.Title = "Livros";
}

<h2>Livros</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditoraId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPublicacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editora.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.LivroId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.LivroId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.LivroId })
        </td>
    </tr>
}

</table>
